<nav
    data-test-navbar
    class='NavbarContainer'
>
    <ul>
        <li>
            <LinkTo
                data-test-blogs-link
                @route='index'
            >
                Blogs
            </LinkTo>
        </li>
    </ul>
</nav>